main{
  width: 100%;
  height: 100vh;
  display: flex;
}
.main-container{
  width: 60%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
form{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-primary{
  width: 50%;
  align-self: center;
}
